@charset "UTF-8";
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

@font-face { font-family: 'Noto Sans Japanese'; font-style: normal; font-weight: 900; src: url(http://fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Black.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Black.woff) format("woff"), url(http://fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Black.otf) format("opentype"); }
html { font-size: 60%; }
html.is-loading { height: 100%; }
html.is-loading body { overflow: hidden; height: 100%; }

body { position: relative; background: #000 url(../img/bg.gif) repeat-y top center; background-size: 100% auto; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #fff; font-family: "Noto Sans Japanese", "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka,"ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif; font-weight: 900; line-height: 1.5; overflow-y: scroll; min-height: 100%; }

* html body { font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

img { vertical-align: top; max-width: 100%; }

p { margin: 0; }

ul { list-style: none; margin: 0; padding-left: 0; }

dl { margin: 0; }

dd { margin: 0; }

th { text-align: left; vertical-align: top; }

label, select, option { cursor: pointer; }

input[type=radio] { vertical-align: middle; margin-right: 0.3em; }

a { color: inherit; }

a:hover, input[type="submit"]:hover, button:hover { opacity: 0.6; }

button:active, button:focus { outline: none; }

.is-focus_link { position: relative; top: 1px; }

.is-placeholder { color: #aaa; }

::-webkit-input-placeholder { color: #aaa; }

::-moz-placeholder { color: #aaa; }

:-ms-input-placeholder { color: #aaa; }

::placeholder { color: #aaa; }

.clearfix:after { content: ""; display: block; clear: both; }

@media screen and (min-width: 1000px) { html { font-size: 100%; } }
@media screen and (min-width: 640px) { html { font-size: 75%; } }
.l-overlay-loading { display: none; position: absolute; top: 0; left: 0; z-index: 100; background: #000 url(../img/loading.gif) no-repeat center center; width: 100%; height: 100%; }
.l-overlay-loading .img-loading { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.is-loading .l-overlay-loading { display: block; }

.l-wrapper { overflow: hidden; }

.l-footer { position: fixed; left: 0; bottom: 0; background: url(../img/bg-button.gif) no-repeat bottom center; background-size: 100% auto; padding-top: 11.9%; width: 100%; }
.l-footer > a { position: absolute; left: 0; top: 0; display: block; -webkit-font-smoothing: none; color: #ff0; font-size: 0.4em; line-height: 3.6em; text-decoration: none; text-align: center; width: 100%; height: 100%; }

@media screen and (min-width: 1000px) { .l-wrapper { margin: 0 auto; width: 1000px; } }
.block-mainVisual { line-height: 1; }
.block-mainVisual .text-probability { font-size: 1.66em; }
.block-mainVisual .text-probability-val { font-size: 5.8em; letter-spacing: -0.04em; line-height: 0.8; }
.block-mainVisual .text-probability-val .char3 { font-size: 0.61em; }
.block-mainVisual .text-refreshing { font-size: 2.2em; letter-spacing: -0.04em; }
.block-mainVisual .text-refreshing .char1 { letter-spacing: -0.08em; margin-left: -0.15em; }
.block-mainVisual .text-refreshing .char5 { margin-left: -0.01em; letter-spacing: -0.15em; }
.block-mainVisual .text-failure { font-size: 1.63em; letter-spacing: -0.03em; }
.block-mainVisual .text-failure .char3 { letter-spacing: -0.1em; }
.block-mainVisual .text-failure .char7 { display: inline-block; letter-spacing: -0.62em; margin-right: -0.105em; }
.block-mainVisual .text-team { font-size: 0.9em; letter-spacing: -0.04em; }
.block-mainVisual .text-team .char4 { letter-spacing: -0.03em; margin-left: -0.5em; }
.block-mainVisual .text-team .char10 { letter-spacing: -0.5em; }
.block-mainVisual .text-improvisational { font-size: 3.1em; letter-spacing: -0.02em; }
.block-mainVisual .text-improvisational .char4 { display: inline-block; margin-right: -0.12em; }

.block-threePoint { line-height: 1; margin-top: 10%; }
.block-threePoint .text-team { font-size: 1.45em; letter-spacing: -0.04em; }
.block-threePoint .text-val { font-size: 4.07em; letter-spacing: -0.06em; }
.block-threePoint .text-val .char1 { letter-spacing: -0.21em; margin-left: -0.19em; }
.block-threePoint .text-val .char3 { margin-left: -0.02em; letter-spacing: -0.07em; }
.block-threePoint .text-point { font-size: 1.3em; letter-spacing: -0.06em; }
.block-threePoint .text-point .char6 { letter-spacing: -0.15em; }
.block-threePoint .text-point .char7 { letter-spacing: -0.15em; }
.block-threePoint .text-point .char8 { margin-left: -0.1em; }
.block-threePoint .text-point .char9 { display: inline-block; margin-right: -0.23em; }

.block-recommendedPoint { font-size: 0.8em; margin-top: 6.3%; }
.block-recommendedPoint .text-no { text-align: center; font-size: 0.625em; line-height: 1; letter-spacing: -0.04em; }
.block-recommendedPoint .heading-point { text-align: center; font-size: 1em; letter-spacing: -0.05em; line-height: 1.3; }
.block-recommendedPoint .text-desc { text-align: justify; font-size: 0.4em; }

.block-support { margin-top: 3.5%; }
.block-support .text-support { font-size: 1em; line-height: 1.3; }

.block-what { line-height: 1; margin-top: -0.2em; }
.block-what .text-what { font-size: 7.3em; }
.block-what .text-what .char1 { letter-spacing: -0.1em; margin-left: -0.09em; }
.block-what .text-what .char2 { font-size: 1.2em; margin-left: -0.3em; }

.block-pointOut { text-align: center; margin-top: 15%; }
.block-pointOut .text-pointOut { font-size: 0.3em; }

.block-answer { margin-top: 20%; }
.block-answer .text-answer { letter-spacing: -0.091em; font-size: 1em; line-height: 1.3; }

.block-catch .text-team { font-size: 10.7em; line-height: 1; }
.block-catch .text-performance { font-size: 5.34em; line-height: 1; }
.block-catch .text-performance .char1 { letter-spacing: -0.04em; margin-left: -0.06em; }
.block-catch .text-performance .char2 { letter-spacing: -0.03em; }
.block-catch .text-this { font-size: 4.1em; line-height: 1; }
.block-catch .text-this .char1 { letter-spacing: -0.25em; margin-left: -0.14em; }
.block-catch .text-this .char2 { letter-spacing: -0.16em; }
.block-catch .text-this .char3 { letter-spacing: -0.18em; }
.block-catch .text-interest { font-size: 3.3em; line-height: 1; }
.block-catch .text-interest .char1 { letter-spacing: -0.08em; margin-left: -0.04em; }
.block-catch .text-interest .char2 { letter-spacing: -0.1em; }
.block-catch .text-interest .char3 { letter-spacing: -0.1em; }
.block-catch .text-interest .char4 { letter-spacing: -0.1em; }

.block-eventInfo { border: 0.08em solid #fff; margin: 6% 7% 12.5%; padding: 7% 4.3% 4%; }

.table-eventInfo { font-size: 0.24em; width: 100%; }
.table-eventInfo caption { font-size: 3.33em; line-height: 1; margin-bottom: 6%; }
.table-eventInfo th { width: 14%; }
