//------------------------------------------------------------------------------------------------
//
//  レイアウト用
//
//------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------
//  .l-overlay-loading
//--------------------------------------------------------------------
.l-overlay-loading{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: #000 url(../img/loading.gif) no-repeat center center;
    width: 100%;
    height: 100%;

    .img-loading{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .is-loading &{
        display: block;
    }
}

//--------------------------------------------------------------------
//  .l-wrapper
//--------------------------------------------------------------------
.l-wrapper{
    overflow: hidden;
}

//--------------------------------------------------------------------
//  .l-header
//--------------------------------------------------------------------
.l-header{
}

//--------------------------------------------------------------------
//  .l-container
//--------------------------------------------------------------------
.l-container{
}

//--------------------------------------------------------------------
//  .l-footer
//--------------------------------------------------------------------
.l-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background: url(../img/bg-button.gif) no-repeat bottom center;
    background-size: 100% auto;
    padding-top: 11.9%;
    width: 100%;

    > a{
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        -webkit-font-smoothing: none;
        color: #ff0;
        font-size: 0.4em;
        line-height: 3.6em;
        text-decoration: none;
        text-align: center;
        width: 100%;
        height: 100%;
    }
}

//----------------------------------------------------------------------------------------
//
//  PCスタイル
//
//----------------------------------------------------------------------------------------
@media screen and (min-width: 1000px){
    .l-wrapper{
        margin: 0 auto;
        width: 1000px;
    }
}

//----------------------------------------------------------------------------------------
//
//  Smartphoneスタイル
//
//----------------------------------------------------------------------------------------
@media screen and (max-width: 999px){

    .l-wrapper{
    }

}